*{
 margin: 0;   
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif;
}
.all-head{
    margin-top: 2px;
}
.head{
    max-width: 1300px;
    /* width: 50%; */
    margin: auto;
    padding: 20px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 25px;
    color: orangered;

}
.all-menu a{
   margin-right: 20px;
}
.menu a{
    font-size: 18px;
    color: gray;
}

.title{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.left-title{
    margin-top: 100px;
    width: 50%;
    /* background-color: antiquewhite; */
    padding-left: 0px;
    margin-left: 60px;
}
h1{
    font-size: 45px;
}
p{
    margin-top: 20px;
    color: gray;
}
button{
    padding: 10px 30px;
    background-color: orangered;
    color: white;
    border-radius: 17px;
    border: none;
    margin-top: 30px;
    margin-left: 25px;
}
.right-title{
    width: 50%;
    height: 500px;
    /* background-color: aquamarine; */
    
}
.right-title, .img{
    width: 90%;
    padding-left: 40px;
}

.hero{
   margin-top: 200px;
}
.small-hero{
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: auto;
  gap: 25px;
}
.pic-1, img{
    width: 100%;
}
.hero-2{
    margin-top: 100px;
}
h2{
    text-align: center;
    margin-bottom: 100px;
    color: grey;
}
.category{
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    margin:0px auto;
    gap: 25px;
}
.pic-2, img{
    width: 100%;
}
.star{
    color: orangered;
}
.pic-2:hover{
    cursor: pointer;
     transform: translateY(-5px);
     transition: 0.5s;
}
.button-menu{
    margin-top: 20px;
    margin-bottom: 0px;
}
.category:hover{
    
}
.copyright{
    margin-top: 80px;
    width: 100%;
    height: 88px;
    background-color: black;
}
.letter{
    color: white;
    text-align: center;
    padding-top: 30px; 
}